/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding-bottom: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
html {
  line-height: 1;
}
body {
  line-height: inherit;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* stylelint-enable */

/*
   Typographic Grid Properties:
      Base Font-size: 1em, 16px
      Modular Scale: 1.2x
        https://www.modularscale.com/?16&px&1.2
*/

/*
   Color Scheme: Blue-White Gradient Color Scheme
   https://www.schemecolor.com/blue-white-gradient.php
*/
/*
   Scalable and Modular Architecture for CSS (SMACSS): 
   http://smacss.com/ 
*/

/* §1. Content Base Styles */

html {
  font-size: 1em; /* 16px / 16px == 1em */
  line-height: 1.25em; /* 20px / 16px == 1.25em */
  font-family: futura-pt, "Futura PT", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2f57ab;
  background-color: #d7dcea;
}

h1 {
  font-size: 1.5em; /* 24px / 16px == 1.5em */
  line-height: 1.625em; /* 26px / 16px == 1.625em */
  font-weight: 500;
  font-style: normal;
  color: #0b389d;
}

h2 {
  font-size: 1.375em; /* 22px / 16px == 1.375em */
  line-height: 1.5em; /* 24px / 16px == 1.5em */
  font-weight: 700;
}

h3 {
  font-size: 1.25em; /* 20px / 16px == 1.25em */
  line-height: 1.375em; /* 22px / 16px == 1.375em */
  font-style: oblique;
}

ul {
  list-style: circle;
}

footer {
  background-color: #0b389d;
  color: #fcfbf9;
  font-size: 0.75em; /* 12px / 16px == 0.75em */
  line-height: 0.875em; /* 14px / 16px == 0.875em */
}

/* §1.1. Image Base Styles */

img {
  display: block;
  max-width: 100%;
}

figcaption {
  background-color: #2f57ab;
  color: #fcfbf9;
}

/* §2. Layout Rules */

main {
  padding-left: 10%;
  padding-right: 10%;
}
h1 {
  padding-bottom: 0.75em; /* 12px / 16px == 0.75em */
  padding-top: 0.75em; /* 12px / 16px == 0.75em */
  text-align: center; 
}

h2 {
  padding-bottom: 0.6875em; /* 11px / 16px == 0.6875em */
  padding-top: 0.6875em; /* 11px / 16px == 0.6875em */
}

p {
  padding-bottom: 0.625em; /* 10px / 16px == 0.625em */
}

footer > p {
  padding: 0.375em; /* 6px / 16px == 0.375em */
  text-align: center;
  margin-top: 0.375em; /* 6px / 16px == 0.375em */
}

/* §2.1. Image Layout Rules */

figcaption > p {
  padding: 0.375em; /* 6px / 16px == 0.375em */
}

/* §3. Module Rules */

/* §3.1. Navigation Module Styles and Rules */

nav {
  background-color: #0b389d;
}

nav ul {
  list-style: none;

  display: flex;
  flex-direction: column;
}

nav li {
  padding: 0.375em; /* 6px / 16px == 0.375em */
}

nav a {
  color: #fcfbf9;
  text-decoration: none;
  display: inline-block;

  padding: 0.375em; /* 6px / 16px == 0.375em */
}

/* §3.1.1 Navigation Module: Interactivity Styles */

nav a:hover,
nav a:focus,
nav a:active {
  background-color: #d7dcea;
  color: #0b389d;
}

/* §3.2. Contact Information Module Styles and Rules */
.resume-header ul {
  background-color: #2f57ab;
  padding: 11.574px;
}
.resume-header li,
.resume-header a {
  color: #fcfbf9;
  list-style: none;
}

/* §4. States */

@media screen and (min-width: 240px) {
  figure {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: auto;
    grid-gap: 12px;
    gap: 12px;
  }
  figcaption {
    position: static;
    grid-column: 1;
    grid-row: 2;
  }
}

@media screen and (min-width: 360px) {
  figure {
    grid-template-rows: 4fr 1fr;
  }
}

@media screen and (min-width: 480px) {
  figure {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }
  figcaption {
    grid-column: 2;
    grid-row: 1;
  }

  nav ul {
    flex-direction: row;
  }
}

@media screen and (min-width: 720px) {
  main {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media screen and (min-width: 1080px) {
  main {
    padding-left: 30%;
    padding-right: 30%;
  }
}

/* §5. Themes */
