/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding-bottom:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/*
   Typographic Grid Properties:
      Base Font-size: 20px, 1em
      Base Line-height: 24px, 1.2em
      Modular Scale: 1.2x
         https://www.modularscale.com/?25&px&1.2
*/

/*
   Color Scheme: Blue-White Gradient Color Scheme
   https://www.schemecolor.com/blue-white-gradient.php
*/
/* 
   Scalable and Modular Architecture for CSS (SMACSS): 
   http://smacss.com/ 
*/

/* §1. Content Base Styles */

html {
   font-size: 20px; 
   line-height: 24px; /* 20px * 1.2 = 24px */
   font-family: futura-pt, "Futura PT", "Arial", "Helvetica", sans-serif;
   font-weight: 400;
   font-style: normal;
   color: #2F57AB;
   background-color: #D7DCEA;
}

h1 {
   font-size: 34.56px; /* 20px * (1.2)³ = 34.56px */
   line-height: 41.472px; /* 34.56px * 1.2 = 43.2px */
   font-weight: 500;
   font-style: normal;
   color: #0B389D;
}

h2 {
   font-size: 28.8px; /* 20px * (1.2)² = 28.8px */
   line-height: 34.65px; /* 28.8px * 1.2 = 34.65px */
   font-weight: 700;
}

h3 {
   font-size: 20px; /* 20px * 1.2 = 24px */
   line-height: 24px; /* 24px * 1.2 = 28.8px */
   font-style: oblique;
}

ul {
   list-style: circle;
}

footer {
   background-color: #0B389D;
   color: #FCFBF9;
   font-size: 11.574px; /* 20px / (1.2)³ = 11.574px */
   line-height: 13.889px; /* 11.574px * 1.2 = 13.889px */
}

/* §1.1. Image Base Styles */

img {
   display: block;
   max-width: 100%;
}

figcaption {
   background-color: #2F57AB;
   color: #FCFBF9;
}

figcaption > p {
   padding-bottom: 0px;
}

/* §2. Layout Rules */

h1 {
   padding-bottom: 17.28px; /* 34.56px / 2 = 17.28px */
   padding-top: 17.28px; /* 34.56px / 2 = 17.28px */
   text-align: center;
}

h2 {
   padding-bottom: 14.4px; /* 28.8px / 2 = 14.4px */
   padding-top: 14.4px; /* 28.8px / 2 = 14.4px */
}

p {
   padding-bottom: 10px; /* 20px / 2 = 10px */
}

footer > p {
   padding: 5.787px; /* 11.574px / 2 = 5.787px */
   text-align: center;
   margin-top: 5.787px; /* 11.574px / 2 = 5.787px */
}

/* §3. Module Rules */

/* §3.1. Navigation Module Styles */

nav {
   background-color: #0B389D;;
}

nav > ul {
   list-style: none;
   text-align: center;

   display: flex;
   flex-direction: row;
}

nav > ul > li > a {
   color: #FCFBF9;
   text-decoration: none;
   list-style: none;
}


/* §4. States */

@media screen and (min-width: 360px) {
   
}

@media screen and (min-width: 480px) {
   
}

@media screen and (min-width: 720px) {
   
}

@media screen and (min-width: 900px) {
   
}

@media screen and (min-width: 1080px) {
   
}


/* §5. Themes */

